* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  transition: background-color 0.7s ease-out;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 1px solid white;
  z-index: 10;
  justify-content: center; /* align item horizontally */
  align-items: center; /* align item vertically */
  font-family: 'Bree Serif', serif;
}

#canvas {
  position: fixed;
  z-index: 0;
}

.dungeonCards {
  display: flex;
}

.villageCards {
  display: flex;
}

.card {
  background-color: grey;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
